/* * {
  /* margin: 0;
  padding: 0;
} */

body {
  box-sizing: border-box;
}
.header1div {
  width: fit-content;
  height: fit-content;
}

.header1 {
  color: forestgreen;
  text-align: center;
  background-color: rgb(10, 10, 66);
  box-sizing: content-box;
}

.square {
  height: 35px;
  width: 35px;
  border: 1px solid #999;
  background: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  float: left; /* - текущий элемент будет прижат к левой стороне род. элемента */
}

.board-row {
  display: flex;
}
